login-page {

.login {
    margin-top:15px;
    width: 40%;
    text-transform: none;
}
.authButton {
    text-align: center;
}
.signin {
    margin-top:15px;
    width: 70%;
    min-height: 30px;
    margin-left:15%;
}
.login-color {
    background-color: #CB1D00;
}
.input {
    margin-left:15%;
    margin-top:15px;
    width: 70%;
}
}
